@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  position: relative;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.98);
  width: 100%;
  z-index: 100;
  height: 80px;
}

nav .container-nav {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-nav .brand-logo img {
  height: 70px;
  margin-left: 10px;
}

nav .container-nav .container-burger {
  padding: 30px;
  cursor: pointer;
  margin-right: 10px;
}

nav .container-nav .container-burger .burger {
  position: relative;
  top: -15px;
  height: 4px;
  width: 40px;
  background-color: #fff;
  overflow: visible;
  cursor: pointer;
}

nav .container-nav .container-burger .burger::before {
  content: "";
  height: 4px;
  width: 40px;
  margin-right: 60px;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
}

nav .container-nav .container-burger .burger::after {
  content: "";
  width: 40px;
  height: 4px;
  margin-right: 60px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #fff;
}

nav .container-nav .container-burger .burger-x {
  -webkit-animation: anim 0.3s both;
          animation: anim 0.3s both;
}

nav .container-nav .container-burger .burger-x::before {
  -webkit-animation: anim2 0.3s both;
          animation: anim2 0.3s both;
}

nav .container-nav .container-burger .burger-x::after {
  -webkit-animation: anim3 0.3s both;
          animation: anim3 0.3s both;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
  to {
    width: 45px;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes anim {
  from {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
  to {
    width: 45px;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

nav .container-nav .container-burger .burger-x-b {
  -webkit-animation: animb 0.3s both;
          animation: animb 0.3s both;
}

nav .container-nav .container-burger .burger-x-b::before {
  -webkit-animation: animb2 0.3s both;
          animation: animb2 0.3s both;
}

nav .container-nav .container-burger .burger-x-b::after {
  -webkit-animation: animb3 0.3s both;
          animation: animb3 0.3s both;
}

@-webkit-keyframes anim2 {
  from {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
  to {
    -webkit-transform: rotate(-90deg) translateY(0px) translateX(30px);
            transform: rotate(-90deg) translateY(0px) translateX(30px);
    width: 45px;
  }
}

@keyframes anim2 {
  from {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
  to {
    -webkit-transform: rotate(-90deg) translateY(0px) translateX(30px);
            transform: rotate(-90deg) translateY(0px) translateX(30px);
    width: 45px;
  }
}

@-webkit-keyframes anim3 {
  from {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
  to {
    width: 0px;
  }
}

@keyframes anim3 {
  from {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
  to {
    width: 0px;
  }
}

@-webkit-keyframes animb {
  from {
    width: 45px;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
  to {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
}

@keyframes animb {
  from {
    width: 45px;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
  to {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
}

@-webkit-keyframes animb2 {
  from {
    -webkit-transform: rotate(-90deg) translateY(0px) translateX(30px);
            transform: rotate(-90deg) translateY(0px) translateX(30px);
    width: 45px;
  }
  to {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
}

@keyframes animb2 {
  from {
    -webkit-transform: rotate(-90deg) translateY(0px) translateX(30px);
            transform: rotate(-90deg) translateY(0px) translateX(30px);
    width: 45px;
  }
  to {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
}

@-webkit-keyframes animb3 {
  from {
    width: 0px;
  }
  to {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
}

@keyframes animb3 {
  from {
    width: 0px;
  }
  to {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    width: 40px;
  }
}

nav .container-nav .nav-bar {
  position: absolute;
  top: 80px;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-top: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
}

nav .container-nav .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

nav .container-nav .nav-bar ul li {
  position: relative;
  list-style: none;
  text-align: center;
  width: 100%;
}

nav .container-nav .nav-bar ul li a {
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container-nav .nav-bar ul li a .under-line {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  display: block;
  padding: 10px 20px;
  color: white;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav .container-nav .nav-bar ul li a .under-line::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: goldenrod;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav .container-nav .nav-bar ul li a .active {
  color: goldenrod;
}

nav .container-nav .nav-bar ul li a .active::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: goldenrod;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: lineRight 0.3s forwards;
          animation: lineRight 0.3s forwards;
}

nav .container-nav .nav-bar ul li a:hover .under-line {
  color: goldenrod;
}

nav .container-nav .nav-bar ul li a:hover .under-line::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes lineRight {
  from {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes lineRight {
  from {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

nav .container-nav .visible-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-right 0.5s;
          animation: slide-right 0.5s;
}

nav .container-nav .invisible-nav {
  -webkit-animation: slide-left 0.5s forwards;
          animation: slide-left 0.5s forwards;
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    display: none;
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    display: none;
  }
}

header {
  position: relative;
  min-height: calc(100vh - 80px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}

header .hero-shadow {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  background-color: rgba(0, 0, 0, 0.99);
  width: 100%;
  height: 50%;
  z-index: 0;
  border-top: 6px solid #cba041;
  border-bottom: 6px solid #cba041;
}

header .hero-shadow .hero-img {
  width: 150%;
  height: 150%;
  background-image: url("../img/logo/logo_bez tła_bitmapa-01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: appear 3s;
          animation: appear 3s;
}

header .arrow-box {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .arrow-box .arrow-down {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.99);
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 10px;
}

header .arrow-box .bounce {
  -webkit-animation: bounce-up-down 2.5s infinite;
          animation: bounce-up-down 2.5s infinite;
}

@-webkit-keyframes bounce-up-down {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@keyframes bounce-up-down {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section h2 {
  margin-top: 10px;
  font-size: 44px;
  color: goldenrod;
  margin-bottom: 20px;
  font-weight: normal;
}

section .line {
  width: 60px;
  height: 5px;
  background-color: goldenrod;
  margin-top: 50px;
}

.aboutus {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

.aboutus .aboutus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus .aboutus-box .aboutme-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutus .aboutus-box .aboutme-text p {
  padding: 10px 5px;
  font-size: 25px;
}

.aboutus .aboutus-box img {
  max-width: 90%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
  border: 5px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aboutus .aboutus-box img:hover {
  border-color: goldenrod;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.portfolio {
  margin-top: 1px;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services .container-services {
  width: 100vw;
}

.services .container-services .service:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f0f;
}

.services .container-services .service:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #f00;
}

@media (min-width: 992px) {
  .container-burger {
    display: none;
  }
  nav .container-nav .invisible-nav {
    -webkit-animation: none;
            animation: none;
  }
  nav .container-nav .nav-bar {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 50px;
    border: none;
  }
  nav .container-nav .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav .container-nav .nav-bar ul li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .aboutus {
    width: 100%;
    background-color: #fafafa;
  }
  .aboutus .aboutus-box {
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1200px;
  }
  .aboutus .aboutus-box .aboutme-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
  }
  .aboutus .aboutus-box img {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  nav .container-nav .brand-logo img {
    margin-left: 0px;
  }
  nav .container-nav .nav-bar {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */