h2 {
  position: relative;
  margin-top: 1.8em;
  font-size: 3.6rem;
  color: $main-color;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;

  &:after {
    content: "";
    position: absolute;
    top: -1.8em;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background-color: $main-color;
    margin-top: 50px;
  }
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 3.6rem;
  text-transform: capitalize;
  font-weight: 800;
}

//navigation
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.98);
  z-index: 100;
  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__brand-logo {
      img {
        height: 80px;
      }
    }

    &__burger-box {
      margin-right: 0.5em;
      padding: 30px 15px;
      cursor: pointer;
    }

    &__burger,
    &__burger::before,
    &__burger::after {
      height: 4px;
      width: 40px;
      background-color: #fff;
      transition: transform 0.3s;
    }

    &__burger {
      position: relative;
      top: -14px;
      overflow: visible;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        margin-right: 60px;
      }

      &::before {
        top: 30px;
      }

      &::after {
        top: 15px;
        transition: 0.2s;
      }
    }

    &__nav-bar {
      position: absolute;
      top: 80px;
      left: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 10px;
      background-color: $nav-color;
      border-top: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      transform: translateX(200%);
      transition: transform 0.7s;
      &-list {
        width: 100%;
        margin-right: 1em;
        &-item {
          text-align: center;
          list-style: none;

          &-link {
            width: 100%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            margin-right: 0.5em;

            .under-line {
              position: relative;
              display: block;
              width: fit-content;
              padding: 10px 20px;
              font-size: 1.8rem;
              letter-spacing: 1px;
              color: white;
              overflow: hidden;
              text-transform: uppercase;
              transition: color 0.3s;
            }

            .under-line::after {
              content: "";
              position: absolute;
              bottom: 3px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $main-color;
              transform: translateX(-101%);
              transition: transform 0.3s;
            }

            &:hover .under-line {
              color: $main-color;
            }

            &:hover .under-line::after {
              transform: translateX(0);
            }

            .active {
              color: $main-color;
            }

            .active::after {
              content: "";
              position: absolute;
              bottom: 3px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $main-color;
              transform: translateX(-101%);
              // transition: transform 0.3s;
              animation: lineRight 0.3s forwards;
            }
          }
        }
      }
    }
    .burger-x {
      transform: rotate(45deg) translate(10px, 10px);
    }
    .burger-x::before {
      transform: rotate(-90deg) translateX(30px);
    }
    .burger-x::after {
      transform: scaleX(0);
    }
    .visible-nav {
      transform: translateX(0);
    }
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

// footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  font-size: 2rem;
  letter-spacing: 1px;
  color: $bg-light-gray;
  background-color: #000;
  text-align: center;
  .fa-heart{
    color: red;

  }
}



.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    z-index: -1;
    background-color: $card-gold;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes lineRight {
  from {
    transform: translateX(-101%);
  }
  to {
    transform: translateX(0);
  }
}

.swiper {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  z-index: 99999;
  background-color: #0f0c02f8;
  background-color: #1b1b1af8;
  &-slide {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-close {
  color: goldenrod;
  padding: 10px;
  border: 1px solid #dda822;
  background-color: #382b0962;
  transition: background-color 0.3s;
  margin: 20px;
  &:hover {
    background-color: #382b09;
  }
}

.swiper-button-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  z-index: 9999;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bold;
  font-size: 14px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(105, 80, 16);
  background-color: $main-color;
}


.swiper-slide-daily {
  .swiper-slide {
    &-1 {
      content: url("../img/sectionServices/dzienny-640.jpg");
    }
    &-2 {
      content: url("../img/sectionServices/slubny-640.jpg");
    }
    &-3 {
      content: url("../img/sectionServices/wieczorowy-640.jpg");
    }
  }
}

.swiper-slide-weeding {
  .swiper-slide {
    &-1 {
      content: url("../img/sectionServices/dzienny-640.jpg");
    }
    &-2 {
      content: url("../img/sectionServices/slubny-640.jpg");
    }
    &-3 {
      content: url("../img/sectionServices/wieczorowy-640.jpg");
    }
  }
}

.swiper-slide-evening {
  .swiper-slide {
    &-1 {
      content: url("../img/sectionServices/dzienny-640.jpg");
    }
    &-2 {
      content: url("../img/sectionServices/slubny-640.jpg");
    }
    &-3 {
      content: url("../img/sectionServices/wieczorowy-640.jpg");
    }
  }
}

.swiper-time-line {
  position: absolute;
  background-color: $main-color;
  z-index: 9999999999999;
  &--top {
    top: 0;
  }
  &--bottom {
    bottom: 0;
  }

  &--top,
  &--bottom {
    width: 100%;
    height: 2px;
    transform: scaleX(0);
  }
}

.swiper-time-line-horizontal--active {
  animation: lineStretchHorizontal 5s forwards linear;
}

@keyframes lineStretchHorizontal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes lineStretchVertical {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@media (min-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
  .swiper-button-close {
    margin-right: 30px;
  }

  nav {
    .container-nav {
      &__burger-box {
        display: none;
      }
      &__nav-bar {
        position: relative;
        top: 0;
        display: flex;
        justify-content: flex-end;
        border: none;
        transform: translateX(0);

        &-list {
          display: flex;
          flex-direction: row;
          width: fit-content;
          &-item {
            width: fit-content;
          }
        }
      }
    }
  }
}





@media (min-width: 1200px) {
  nav {
    .container-nav {
      &__brand-logo {
        img {
          margin: 0;
        }
      }
      &__nav-bar {
        margin: 0;
      }
    }
  }
}
@media (min-width: 1600px) {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-close {
    margin-left: calc(100vw - 1600px);
    margin-right: calc(100vw - 1600px);
  }
}
